<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CongoBasin - @ViewData["Title"]</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="~/img/congobasinicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col navbar-brand">
                    <img src="~/img/congobasin.png" style="max-height:40px" />
                </div>
                <div class="col-2 text-right">
                    <vc:cart-summary></vc:cart-summary>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:categories></vc:categories>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
