@page
@model CongoBasin.Pages.PurchaseCompleteModel
@{
    ViewData["Title"] = "Purchase Complete";
}

<div class="text-center">
    <h2>Thank you for your purchase. Your order should* arrive in 2-5 business days!</h2>
    <p style="font-size: 5px">Should is not a definitive word. If your order doesn't arrive that isn't our fault. Please contact the delivery service and get mad at them instead of us.</p>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>